<%- include('ek/header', {bot, user, path}) %>
<div class="container">
  <div align="center" class="jumbotron">
       <img src="https://cdn.discordapp.com/avatars/<%=kisi.id%>/<%=kisi.avatar%>.png?size=512" class="rounded-circle panell">
       <h3 style="color:#fff"><%=kisi.username%>#<%=kisi.discriminator%></h3>
    <h3 style="color:#fff">Adlı Kullanıcının Botları !</h3>
      
      <br>
  <% if (bot.ayar.has('botlar')) { %>
    <% if (bot.ayar.has(`kbotlar.${user.id}`)) { %>   
<div class="row">
<%for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) {%>
<% var idd = Object.keys(bot.ayar.fetch('botlar'))[i] %>
<%  if (bot.ayar.fetch(`botlar.${idd}.sahipid`) === kisi.id) { %>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="card card-lg botcard" style="background-color:#00B0FF; width:14rem;">
    <div value="<%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%>" align="center" class="card-img">
  
          <a name="aramaResim" id="aramaResim" href="/bot/<%=idd%>" style="color:#fff"><img  src="<%=bot.ayar.fetch(`botlar.${idd}.avatar`)%>" style="width:50%;margin:5px;border-radius:50%;" <%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%></a>
        
          <% if(bot.ayar.has(`botlar.${idd}.sertifika`) === true) { %>
       
       <img src="https://cdn3.iconfinder.com/data/icons/study-education-9/96/success_medal_done-512.png" width="30px" height="30px">
            <br>
       <% } %>
               <%  if(bot.ayar.fetch(`botlar.${idd}.durum`) === 'Beklemede' || !bot.ayar.has(`botlar.${idd}.durum`)) { %>
    <div>Beklemede</div>
    <% } %>

    <%  if(bot.ayar.fetch(`botlar.${idd}.durum`) === 'Reddedilmiş') { %>
    <div>Reddedilmiş</div>
    <% } %>

    <%  if(bot.ayar.fetch(`botlar.${idd}.durum`) === 'Onaylı') { %>
    <div>Onaylanmış</div>
    <% } %>
            
            
              <div class="badge badge-primary"><strong style='color: white;'>Oy: </strong><span style='color:whitesmoke;text-transform: none;'><%=bot.ayar.fetch(`botlar.${idd}.oy`)||0%></span></div>
                     
          </div>
      <div align="center" style="background-color:#00B0FF" class="card-body">
                               <div class="card-title">
                                  <h4><a style="color:#fff"><%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%></a></h4>
                                <h6 style="font-size:17px; color:#fff"><%=bot.ayar.fetch(`botlar.${idd}.sahip`)%></h6></div>         
                               <hr>
                              <h6 align="center" class="sss"><a href="/bot/<%=idd%>" style="font-size:15px; color:#fff; background-color:#00B0FF">Görüntüle</a> <b style="color:grey">
                            </div>
                       </div><br>
</div>
<% } %>
<% } %>
</div>
   
   <% } else if (!bot.ayar.has(`kbotlar.${user.id}`)) {%>
        <h5 style="color:#222">
          Sistemde hiç sana ait bot bulunmuyor.
   </h5>
   <% } %>
   <% } else if (!bot.ayar.has('botlar')) {%>
        <h5 style="color:#222">
          Sistemde hiç bot bulunmuyor.
   </h5>
   <% } %>

</div></div>
<style>

  .ss {
    margin-right: 50px;
  }
  .sss {
    border: 1px solid #2222;
    padding: 3px;
    width: 90px;
    border-radius: 10px;
  }
  
  
</style>